/* GLOBAL STYLES */
body {
    background: #fff;
    /* display: flex;
    justify-content: center; */
    height:100vh;
    width:100vw;
}

.typeText {
  font-size: 4vw;
  padding-left: 20px;
  padding-right:20px
}


.mainText {
    font-size: 4vw;
    /* padding-left: 20px;
    padding-right:20px */
}



.helloButton {
  border-width: 2px;
  font-weight: 400;
  font-size: 18px;
  padding-left: 1.2rem;
  padding-right:1.2rem;
  border-color: #3498db;
  color:#3498db;
  background-color: transparent;
  border-radius: 290486px;
  height: 2.25em;
  
}

.is-primary {
  background-color: #007bff;
  color: #fff;
}

.subText {
  font-size: 2vw;
}

.section.skills {
  margin-top: -14rem;
  padding-bottom: 1rem;
}

.section {
  padding: 5rem 1.5rem;
}


.box {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 5px 5px 0 rgba(233,240,243,0.5), 0 0 0 1px #E6ECF8;
  color: #293347;
  display: block;
  padding: 1.25rem;
}

.adjust-section {
  margin-top: -12rem;
  /* padding-bottom: 1rem; */
}

.title-1 {
  font-size: 1.5rem !important;
  margin-bottom: 1.5rem;
  font-family: "eurostile",sans-serif;
  font-weight: 800;
  color: #293347;
}


.portfolio-filter {
  list-style: none outside none;
  margin: 0px 0 40px 0;
  padding: 0;
  text-align: center;
}

.portfolio-filter > li {
  display: inline-block;
}


.portfolio-filter > li a {
  background: none repeat scroll 0 0 #FFFFFF;
  font-size: 2vw;
  font-weight: 400;
  margin-right: 20px;
  margin-top:20px;
  text-transform: uppercase;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  border: 1px solid #F2F2F2;
  outline: none;
  border-radius: 3px;
}

/* portfolio-images  */

.portfolio-items{
    list-style: none outside none;
    /* margin: 0 0 40px 0; */
    margin-left: -100px;
    padding: 0;
    text-align: center;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;

}

.isotope, .isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.btn {
  padding: .5rem .95rem;
}
.flex {
  padding:4px;
}

.card_media_background{
  height: 190px;
  width: 250px;
}


/* card size */

.card {
  height: 440px; 
  width: 380px;
}

/* Chip Design */

.chip {
  background: #e0e0e0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  border-radius: 28px;
  border: 1px solid transparent;
  font-size: 13px;
  margin: 2px;
  outline: none;
  position: relative;
  -webkit-transition: .3s cubic-bezier(.25,.8,.5,1);
  transition: .3s cubic-bezier(.25,.8,.5,1);
  padding-right: 5px;

}

.chip_content {
  border-radius: 28px;
  cursor: default;
  height: 32px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 12px;
  white-space: nowrap;
  z-index: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
}

.white_text {
  color: #fff !important;
}

.icon {
  width:25px;
  height:15px;
  padding-left: 8px;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  font-size: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1;
  -webkit-transition: .3s cubic-bezier(.25,.8,.5,1);
  transition: .3s cubic-bezier(.25,.8,.5,1);
  vertical-align: middle;

}

.headline {
  font-size: 24px!important;
  font-weight: 400;
  line-height: 32px!important;
  letter-spacing: normal!important;
  margin-bottom: 0!important;
}

.card__actions {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 4px;
  display: flex;
}

.btn__content {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: inherit;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 16px;
  -webkit-transition: .3s cubic-bezier(.25,.8,.5,1);
  transition: .3s cubic-bezier(.25,.8,.5,1);
  white-space: nowrap;
  width: inherit;
}

.hearticon {
 margin-top:3px;
}

.likesText {
  color:#1976d2 !important;
  padding-left: 10px;
  margin-top:3px;
}

.leftPush {
  padding-left:10px;
}

/* Colours */

.dark-blue-1 {
  background-color: #37474f!important;
  border-color: #37474f!important;
}

.blue {
  background-color: #1565c0!important;
  border-color: #1565c0!important;
}

.orange {
  background-color: #f4511e!important;
  border-color: #f4511e!important;
}

.light-orange {
  background-color: #ff9800!important;
  border-color: #ff9800!important;
}


.green {
  background-color: #4caf50!important;
  border-color: #4caf50!important;
}

.light-green {
  background-color: #43a047!important;
  border-color: #43a047!important;
}

.lime-green {
  background-color: #64dd17!important;
  border-color: #64dd17!important;
}

.light-blue {
  background-color: #61dafb !important;
  border-color: #61dafb !important;
}

/* experience */

#experience {
  padding: 50px 15px;
  text-align: center;
  border-bottom: 1px solid #dcd9d9;
}

#experience-timeline {
  margin: -50px auto 0 auto;
  position: relative;
  
}

#experience-timeline:before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 303px;
  right: auto;
  height: 100%;
  width: 3px;
  background: #3498db;
  z-index: 0;
}

#experience-timeline:after {
  position: absolute;
  content: '';
  width: 3px;
  height: 40px;
  background: #3498db;
  background: linear-gradient(to bottom, #3498db, rgba(52,152,219,0));
  top: 100%;
  left: 303px;
}

.vtimeline-date {
  width: 260px;
  text-align: right;
  position: absolute;
  left: 0;
  top: 10px;
  font-weight: 300;
  color: #374054;
}

.vtimeline-point {
  position: relative;
  display: block;
  vertical-align:top;
  margin-bottom: 30px;
}

.vtimeline-icon {
  position: relative;
  color: #fff;
  width: 50px;
  height: 50px;
  background: #3498db;
  border-radius: 50%;
  float: left;
  z-index: 99;
  margin-left: 280px;
}

.vtimeline-icon i {
  display: block;
  font-size: 2em;
  margin-top: 10px;
  text-align: center;
}

.vtimeline-content {
  margin-left: 350px;
  background: #fff;
  border: 1px solid #e6e6e6;
  padding: 15px;
  border-radius: 3px;
  text-align: left;
}

/* Last Section */

.helpText {
  font-size: 1.5rem;
}

.section.call-to-action .box {
  padding: 3.5rem 2rem;
  margin-top: -9rem;
  background-color: #293347;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2), 0 0 0 1px #293347;
}

/* Black Box */

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: .75rem;
}

.columns {
  margin-left: -.75rem;
  margin-right: -.75rem;
  margin-top: -.75rem;
  display: flex;
}

.level-item {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  color: #fff;
}

.title {
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.125;
}

.section.call-to-action .box p {
  font-size: 18px;
}

.section.call-to-action .box {
  padding: 3.5rem 2rem;
  margin-top: -9rem;
  background-color: #293347;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2), 0 0 0 1px #293347;
}

.section.call-to-action .box .button.is-outlined.is-rounded.is-medium {
  color: #fff;
  padding: 1.25em 2em;
  font-weight: 400;
  border-width: 2px;
}

.level {
  align-items: center;
  justify-content: space-between;
}

.button.is-primary.is-outlined {
  background-color: transparent;
  border-color: #3498db;
  color:#3498db;
}

.button.is-rounded {
  border-radius: 290486px;
  padding-left: 1em;
  padding-right: 1em;
}

.button.is-rounded {
  border-radius: 290486px;
  padding-left: 1em;
  padding-right: 1em;
}